<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>de.david.tucan.agent</string>
    <key>WorkingDirectory</key>
    <string>/Users/davidgengenbach/bin</string>
	<key>ProgramArguments</key>
	<array>
	  <string>/Users/davidgengenbach/bin/tucan-grades-diff</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StartInterval</key>
	<integer>600</integer>
	<key>StandardErrorPath</key>
	<string>/Users/davidgengenbach/agents/tucan.err</string>
	<key>StandardOutPath</key>
	<string>/Users/davidgengenbach/agents/tucan.log</string>
</dict>
</plist>
